@import 'scss/fonts';
@import 'scss/variables';
@import 'scss/reset';

.container {
  max-width: 1218px;
  padding: 0 18px;
  margin: 0px auto;
}

.title {
  font-family: $FourFont;
  font-weight: 500;
  font-size: 90px;
  color: $mainColor;

  text-transform: uppercase;
}

.link {
  font-family: $SecondFont;
  font-weight: 700;
  font-size: 30px;
  color: $mainColor;
  background-color: $blueColor;

  padding: 11px 70px;
  border-radius: 42px;
  cursor: pointer;

  &:hover {
    color: #8E3921;
    background-color: #D5DCEE;
  }
}

.description {
  font-family: $SecondFont;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  color: $mainColor;
}

.wrapper {
  max-width: 2180px;
  margin: 0px auto;
}


// header

.header {
  padding: 47px 0;
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .container-header {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;

    &__list {
      display: flex;
      gap: 57px;

      align-items: center;
    }

    &__link {
      font-family: $MainFont;
      font-weight: 700;
      font-size: 20px;
      color: $mainColor;

      &:hover {
        color: $hoverColor;
      }
    }
  }
}

// hero

.hero {
  padding: 218px 0 0;
  background-image: url('../images/hero/background-1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 100vh;

  .container-hero {
    display: flex;
    margin: 0 0 0 auto;
    padding: 43px 115px 57px 50px;

    background-color: $darkColor;
    border-radius: 43px 0px 0px 43px;
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    background-image: url('../images/body/background-body.png');
  }

  &__title {
    line-height: 115.4%;
  }

  &__description {
    line-height: 39px;
    padding: 22px 0 58px;
    max-width: 333px;
    color: $secondColor;

    span {
      font-weight: 700;
    }
  }

  &__images {

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 204px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding-bottom: 136px;
      margin-right: 40px;
    }

  }

  &__images-item {
    width: 205px;
    height: 205px;

  }
}

// materials

.materials {
  padding-top: 266px;

  &__blocks {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 746px;
    margin-bottom: 125px;
  }

  &__block {
    text-align: center;
  }

  &__block-title {
    font-family: $FourFont;
    font-weight: 700;
    font-size: 30px;
    color: $mainColor;

    padding: 39px 0 38px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    font-family: $FourFont;
    font-weight: 500;
    font-size: 30px;
    color: $mainColor;
    line-height: 30px;

    text-align: left;
    list-style-image: url("../images/icons/check.svg");
  }

  &__item-none {
    list-style-image: url("../images/icons/none.svg");
  }
}

// work

.work {
  padding-top: 258px;

  &__title {
    padding-bottom: 121px;
    max-width: 1133px;
    margin: 0px auto;
  }

  &__slider {}

  &__wrapper {}

  &__slide {
    padding-bottom: 52px;
  }

  &-slide {}

  &__image-wrapper {
    text-align: center;
  }

  &-button-next {
    height: 50px;
    width: 50px;
  }

  &-button-prev {
    height: 50px;
    width: 50px;
    right: 0;
  }
}

.swiper-button-next {
  width: 50px;
  height: 50px;
  right: 5%;
}

.swiper-button-prev {
  width: 50px;
  height: 50px;
  left: 5%;
}

.container-work {
  max-width: 1440px;
}

.title {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 26px;
  height: 26px;

  background-color: transparent;
  border: 4px solid #728BAD;
}

.swiper-pagination-bullet-active {
  background-color: #D5DCEE;
}


// advantages

.advantages {
  padding-top: 278px;
  text-align: center;

  &__title {
    max-width: 920px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 121px 0;
  }

  &__text {
    font-family: $SecondFont;
    font-weight: 500;
    font-size: 30px;
    color: $mainColor;
    max-width: 387px;
    text-align: start;

    &:not(:last-child) {
      padding-bottom: 46px;
    }
  }
}

// about

.about {
  padding-top: 294px;

  .container {
    max-width: 1440px;
  }

  .container-about {
    display: flex;
    justify-content: space-between;

    background-color: #1E0C06;
    border-radius: 0px 42px 42px 0px;
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    margin: 0 auto 0 0;
    background-image: url('../images/body/background-body.png');
  }

  &__description {
    padding-top: 67px;
    max-width: 516px;

    span {
      font-weight: 700;
    }
  }

  &__text {
    padding: 44px 0 271px 320px;
  }

  &__images {
    position: relative;
  }

  &__image {
    position: absolute;

    &:nth-child(2) {
      width: 350px;
      height: 347px;

      top: 167px;
      right: 144px;
    }

    &:first-child {
      width: 205px;
      height: 205px;

      top: 61px;
      right: 70px;
    }

    &:last-child {
      width: 205px;
      height: 205px;

      right: 102px;
      bottom: 31px;
    }
  }
}

// questions

.questions {
  padding: 192px 0 109px;

  &__title {
    text-align: right;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 23px;

    input,
    textarea {
      font-family: $SecondFont;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      color: #32353C;

      background-color: transparent;
      border: 4px solid $blueColor;
      border-radius: 42px;
      padding: 18px 47px;
      outline: none;

      width: 110%;
      resize: none;

      &:focus {
        background-color: #D5DCEE;
        border-color: #6C200B;
      }

      &::placeholder {
        color: #D9D9D982;
      }
    }

    textarea {
      padding-bottom: 197px;
      padding-right: 47px;
      overflow: hidden;
    }
  }

  &__button {
    width: 45%;
  }

  &__text {
    position: relative;

    img {
      position: absolute;
      bottom: -50%;
      right: -10%;
      z-index: -1;
    }
  }

  &__description {
    text-align: right;
    max-width: 546px;
  }
}

// footer

.footer {
  padding: 70px 0 61px;

  background-color: #222021;
  box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);

  &__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
  }

  &__logo {}

  &__link {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__text {
    font-size: 20px;
  }
}