@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@500;700&family=Saira:wght@500;700&display=swap');

@font-face {
	font-family: 'KyivType';
	src: url('../../fonts/Dmitry Rastvortsev - KyivType Sans Medium-.eot');
	src: local('☺'),
		url('../../fonts/Dmitry Rastvortsev - KyivType Sans Medium-.woff') format('woff'),
		url('../../fonts/Dmitry Rastvortsev - KyivType Sans Medium-.ttf') format('truetype'),
		url('../../fonts/Dmitry Rastvortsev - KyivType Sans Medium-.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}